# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Android related
**/android/app/profile
**/android/app/release
**/android/app/debug

# Symbol files
*.sublime-workspace

# Coverage results
coverage/

# Windows
Thumbs.db
desktop.ini
